@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  background-color: #68c2e8;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.textwhite {
  color: white;
}

.todo-list {
  background-color: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #efefef;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.photo {
  height: 200px;
  width: 200px;
}

input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
}

input[type="checkbox"]:focus {
  outline: 0;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #68c2e8;
  background-color: #68c2e8;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login
.container
#login-row
#login-column
#login-box
#login-form
#register-link {
  margin-top: -85px;
}

div.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
}

.primary-color {
  background-color: #68c2e8;
  color: white;
}

.invert {
  height: 75%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hero {
  background-color: #68c2e8;
  color: #fff;
  display: block;
  margin-top: 20px;
  margin-left: 100px;
}

.hero-title {
  padding: 50px;
}

.hero-desc {
  padding: 0 0px 40px 50px;
}

.hero-login {
  text-align: center;
}

text {
  color: white;
}

.btns {
  float: right;
  padding: 14px 16px;
  background-color: #68c2e8;
  color: #fff;
}

button:hover {
  background-color: #9be6f3;
}

li {
  float: right;
  display: inline;
  margin-top: 10px;
}

li a {
  display: inline;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
  background-color: #68c2e8;
}

svg {
  display: block;
  z-index: -5;
}

.nav button {
  margin-top: 15px;
}

h1 .lside {
  margin-top: 90px;
  width: 46%;
  float: left;
  /* color: white; */
}

.rside {
  margin-right: 0;
  display: inline-block;
  width: 36%;
  background-color: #7ab894;
}

.container .move {
  background-color: white;
}

.globe {
  width: 25%;
}

footer {
  text-align: center;
  color: green;
  font-weight: bold;
  z-index: 20;
}

.question {
  background-color: #9bf3c0;
  text-align: center;
  margin: 30px;
  padding: 50px;
  overflow: hidden;
}

.center {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  padding-top: 100px;
}

.distance {
  text-align: center;
}

button {
  background-color: #7ab894;
  color: white;
  max-width: 100px;
  max-height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */